#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*   List popular languages for Data Science
*   List commonly used libraries by Data Scientist
*   Table of Data Science tools
*   Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. JavaScript
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. Keras
6. Pytorch
7. Scikit-learn

Data Science Tools |
------------------- |
Jupyter Notebook
Juptyter Lab
RStudio

###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
Mythily Sivakumar